@font-face {
    font-family: "RalewayExtrabold4020";
    src: url("../fonts/RalewayExtrabold4020/RalewayExtrabold4020.eot");
    src: url("../fonts/RalewayExtrabold4020/RalewayExtrabold4020.eot?#iefix")format("embedded-opentype"),
    url("../fonts/RalewayExtrabold4020/RalewayExtrabold4020.woff") format("woff"),
    url("../fonts/RalewayExtrabold4020/RalewayExtrabold4020.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: "RalewayBlack4020";
    src: url("../fonts/RalewayBlack4020/RalewayBlack4020.eot");
    src: url("../fonts/RalewayBlack4020/RalewayBlack4020.eot?#iefix")format("embedded-opentype"),
    url("../fonts/RalewayBlack4020/RalewayBlack4020.woff") format("woff"),
    url("../fonts/RalewayBlack4020/RalewayBlack4020.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: "RalewayMedium4020";
    src: url("../fonts/RalewayMedium4020/RalewayMedium4020.eot");
    src: url("../fonts/RalewayMedium4020/RalewayMedium4020.eot?#iefix")format("embedded-opentype"),
    url("../fonts/RalewayMedium4020/RalewayMedium4020.woff") format("woff"),
    url("../fonts/RalewayMedium4020/RalewayMedium4020.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "RalewayRegular4020";
    src: url("../fonts/RalewayRegular4020/RalewayRegular4020.eot");
    src: url("../fonts/RalewayRegular4020/RalewayRegular4020.eot?#iefix")format("embedded-opentype"),
    url("../fonts/RalewayRegular4020/RalewayRegular4020.woff") format("woff"),
    url("../fonts/RalewayRegular4020/RalewayRegular4020.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "RalewayLight4020";
    src: url("../fonts/RalewayLight4020/RalewayLight4020.eot");
    src: url("../fonts/RalewayLight4020/RalewayLight4020.eot?#iefix")format("embedded-opentype"),
    url("../fonts/RalewayLight4020/RalewayLight4020.woff") format("woff"),
    url("../fonts/RalewayLight4020/RalewayLight4020.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "RobotoRegular";
    src: url("../fonts/RobotoRegular/RobotoRegular.eot");
    src: url("../fonts/RobotoRegular/RobotoRegular.eot?#iefix")format("embedded-opentype"),
    url("../fonts/RobotoRegular/RobotoRegular.woff") format("woff"),
    url("../fonts/RobotoRegular/RobotoRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "RobotoMedium";
    src: url("../fonts/RobotoMedium/RobotoMedium.eot");
    src: url("../fonts/RobotoMedium/RobotoMedium.eot?#iefix")format("embedded-opentype"),
    url("../fonts/RobotoMedium/RobotoMedium.woff") format("woff"),
    url("../fonts/RobotoMedium/RobotoMedium.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}