{
  "server": {
    "session": {
      "secret": "ExSercre",
      "name": "namecookie",
      "ttl_hours": 48
    },
    "ws": {
      "port": 3001
    },
    "api": {
      "timeout": 10
    }
  },
  "project_name": "Example",
  "shema": "http",
  "domain": "localhost:3000",
  "api_path": "v1/api/",
  "server_path": "/service/"
}