.uk-container {
    position: relative;
    z-index: 1;
}

.block1 {
    min-height: 661px;
    /*background: #030d10;
    background: -webkit-linear-gradient(top, #030d10 0%, #0c1431 100%);
    background: -webkit-gradient(linear, left top, left bottom, from(#030d10), to(#0c1431));
    background: -o-linear-gradient(top, #030d10 0%, #0c1431 100%);
    background: linear-gradient(to bottom, #030d10 0%, #0c1431 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#030d10', endColorstr='#0c1431', GradientType=0);*/
    position: relative;
    z-index: 1;
    background: url(../images/bg_main.png) center top no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
}

.block1:before {
    content: "";
    display: block;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    position: absolute;
    /*background: url(../images/bg1.png) center top no-repeat;*/
}


/*.block1:after,*/

.block3:after {
    content: "";
    display: block;
    left: 0;
    right: 0;
    height: 39px;
    bottom: -38px;
    position: absolute;
    z-index: 1;
    background: url(../images/bg1_bottom.png) center top no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
}

.block2 {
    min-height: 360px;
    background: #1a4ab0;
    position: relative;
    margin-top: -39px;
    padding-bottom: 15px;
}

.block2:after,
.block4-top:after {
    content: "";
    display: block;
    left: 0;
    right: 0;
    height: 39px;
    bottom: -38px;
    position: absolute;
    z-index: 2;
    background: url(../images/bg2_bottom.png) center top no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
}

.block3 {
    min-height: 190px;
    background: #030d10;
    background: -webkit-linear-gradient(top, #030d10 0%, #0c1431 100%);
    background: -webkit-gradient(linear, left top, left bottom, from(#030d10), to(#0c1431));
    background: -o-linear-gradient(top, #030d10 0%, #0c1431 100%);
    background: linear-gradient(to bottom, #030d10 0%, #0c1431 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#030d10', endColorstr='#0c1431', GradientType=0);
    position: relative;
}

.block4 {
    min-height: 390px;
    position: relative;
    background: #e8e8e8;
}

.block4:after {
    content: "";
    display: block;
    left: 0;
    right: 0;
    height: 39px;
    bottom: -38px;
    position: absolute;
    z-index: 1;
    background: url(../images/bg_last_bottom.png) center top no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
}

.block4-top {
    background: #1a4ab0;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 50%;
    max-height: 220px;
}

.footer {
    min-height: 120px;
    background: #091124;
    position: relative;
}

.logo .main-logo {
    font-family: RalewayExtrabold4020;
    font-size: 28px;
    line-height: 100%;
    color: #dcdaf0;
    display: inline-block;
    position: relative;
}

.logo .main-logo:after {
    content: "";
    display: block;
    width: 4px;
    height: 5px;
    background: #dcdaf0;
    position: absolute;
    right: 46px;
    top: 10px;
}

.logo .after-logo {
    font-family: RalewayRegular4020;
    font-size: 12px;
    text-transform: uppercase;
    color: #777783;
    line-height: 100%;
    display: inline-block;
    vertical-align: super;
}

.logo .version-logo {
    font-family: RalewayRegular4020;
    font-size: 13px;
    color: white !important;
    display: inline-block;
    line-height: 100%;
    background: #295ac5;
    padding: 0 1px;
    vertical-align: super;
    -webkit-border-radius: 2px;
    border-radius: 2px;
}

.logo {
    display: inline-block;
    width: 124px;
    margin-top: 30px;
}

.logo:hover {
    text-decoration: none;
}

.block1 .uk-container {
    width: 1011px;
}

.nav-list {
    padding-left: 0;
    margin-top: 37px;
}

.nav-list>li {
    list-style: none;
    display: inline-block;
}

.nav-list>li a {
    font-family: RalewayRegular4020;
    font-size: 12px;
    text-transform: uppercase;
    color: #777783;
    line-height: 25px;
    margin-left: 30px;
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
}

.nav-list>li:first-child a {
    padding-left: 0;
}

.nav-list>li a:hover,
.nav-footer li>a:hover {
    text-decoration: none;
    color: #f58a28;
}

.block-api {
    width: 260px;
    text-align: center;
    position: absolute;
    top: 259px;
    left: 9.2%;
}

.block-api h1 {
    font-family: RalewayMedium4020;
    font-size: 28px;
    color: white;
    text-transform: uppercase;
    margin: 0;
}

.block-api p {
    font-family: RalewayRegular4020;
    font-size: 14px;
    line-height: 18px;
    color: #777783;
    margin: 19px 0;
    letter-spacing: 0.5px;
}

.block-api .uk-button {
    margin-top: 10px;
    margin-right: 7px;
}

.uk-button-primary {
    font-family: RalewayMedium4020;
    font-size: 14px;
    color: white;
    min-height: 38px;
    line-height: 36px;
    background: transparent;
    border: 2px solid #2a5ac6;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    padding: 0 26px;
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.uk-button-primary i {
    font-size: 18px;
    margin-right: 15px;
    display: inline-block;
    vertical-align: baseline;
    color: #2a5ac6;
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
}

.uk-button-primary:hover {
    background: transparent;
    border-color: #f58a28;
}

.uk-button-primary:hover i {
    color: #f58a28;
}

.block1 .link-bottom,
.block2 .link-bottom {
    position: absolute;
    left: 50%;
    bottom: 72px;
    font-size: 20px;
    color: #00deff;
    z-index: 5;
    margin-left: -7px;
}

.block2 .link-bottom {
    bottom: -15px;
}

.block2 .uk-container {
    width: 780px;
}

.second-menu {
    width: 624px;
    height: 84px;
    background: url(../images/bg_menu.png) center center no-repeat;
    margin: -5px auto 0;
    position: relative;
    z-index: 5;
    text-align: center;
}

.second-menu .list-menu {
    padding: 0;
    display: inline-block;
    margin: 25px 0 0;
}

.second-menu .list-menu>li {
    list-style: none;
    float: left;
}

.second-menu .list-menu>li>a {
    font-family: RalewayRegular4020;
    font-size: 16px;
    color: white;
    min-height: 30px;
    line-height: 28px;
    text-align: center;
    text-transform: uppercase;
    padding: 0 26px;
    display: inline-block;
    position: relative;
}

.second-menu .list-menu>li>a:hover {
    text-decoration: none;
}

.second-menu .list-menu>li:nth-of-type(1).uk-active>a:after,
.second-menu .list-menu>li:nth-of-type(1)>a:hover:after {
    content: "";
    display: block;
    width: 166px;
    height: 12px;
    background: url(../images/active_menu.png);
    position: absolute;
    bottom: -17px;
    left: -12px;
}

.second-menu .list-menu>li:nth-of-type(3).uk-active>a:after,
.second-menu .list-menu>li:nth-of-type(3)>a:hover:after {
    content: "";
    display: block;
    width: 203px;
    height: 13px;
    background: url(../images/active_menu_last.png) right bottom no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
    position: absolute;
    bottom: -18.8px;
    right: -12px;
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
}

.second-menu .list-menu>li:nth-of-type(2).uk-active>a:after,
.second-menu .list-menu>li:nth-of-type(2)>a:hover:after {
    content: "";
    display: block;
    width: 185px;
    height: 12px;
    background: url(../images/active_menu.png) -5px bottom no-repeat;
    position: absolute !important;
    bottom: -17px;
    left: 1px;
    -webkit-background-size: cover;
    background-size: cover;
    -webkit-transform: rotateZ(-2deg);
    -ms-transform: rotate(-2deg);
    transform: rotateZ(-2deg);
}

.second-menu .list-menu>li>a img {
    display: inline-block;
    margin-right: 10px;
    margin-top: -7px;
}

.second-menu .list-menu>li:first-child>a,
.second-menu .list-menu>li:last-child>a {
    margin-top: -10px;
    position: relative;
}

.second-menu .list-menu>li:nth-of-type(1)>a:before {
    content: "";
    display: block;
    width: 2px;
    height: 23px;
    background: url(../images/dott_menu.png);
    position: absolute;
    right: 0;
    top: 5px;
}

.second-menu .list-menu>li:nth-of-type(1)>a {
    padding-right: 45px;
}

.second-menu .list-menu>li:nth-of-type(3)>a:before {
    content: "";
    display: block;
    width: 2px;
    height: 23px;
    background: url(../images/dott_menu.png);
    position: absolute;
    left: 0;
    top: 5px;
}

.block2 h3 {
    font-family: RalewayMedium4020;
    font-size: 18px;
    line-height: 25px;
    color: white;
    text-transform: uppercase;
}

.block2 p {
    font-family: RalewayMedium4020;
    font-size: 14px;
    line-height: 25px;
    color: #7d98bd;
}

.block-code .header-code {
    text-align: left;
    height: 26px;
    background: #142857;
    -webkit-border-radius: 5px 5px 0 0;
    border-radius: 5px 5px 0 0;
}

.block-code .main-code {
    height: 95px;
    background: #0b152e;
    position: relative;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 10px;
    -webkit-border-radius: 0 0 5px 5px;
    border-radius: 0 0 5px 5px;
}

.header-code .list-dotter {
    margin: 5px 0;
    padding-left: 15px;
    height: 26px;
    line-height: 26px;
}

.header-code .list-dotter li {
    list-style: none;
    display: inline-block;
    width: 8px;
    height: 8px;
    margin-right: 3px;
    background: #08b6aa;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}

.block-code .main-code .code-type {
    font-family: RalewayBlack4020;
    font-size: 20px;
    color: #142857;
    position: absolute;
    left: 10px;
    bottom: 10px;
}

.block-code .main-code p {
    margin: 0;
    font-family: RalewayLight4020;
    text-transform: uppercase;
    font-size: 13px;
    line-height: 22px;
    color: #7d98bd;
    word-break: break-all;
    letter-spacing: 1.6px;
}

.block-code .main-code p span {
    color: #3250b6;
}

.button-download {
    min-height: 70px;
    line-height: 68px;
    height: 70px;
    overflow: hidden;
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.button-download:hover span {
    -webkit-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    transform: translateY(-100%);
}

.button-download>img {
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s
}

.button-download:hover>img {
    -webkit-transform: translateY(-200%);
    -ms-transform: translateY(-200%);
    transform: translateY(-200%);
}

.button-download>span {
    font-family: RalewayRegular4020;
    font-size: 14px;
    color: #7d98bd;
    -webkit-transition: all;
    -o-transition: all .3s;
    -webkit-transition: all .3s;
    transition: all .3s;
    -webkit-transform: translateY(100%);
    -ms-transform: translateY(100%);
    transform: translateY(100%);
}

.block3 .uk-container {
    width: 1280px;
    padding: 0;
}

.list-panel {
    min-height: 130px;
    background: #0b1530;
    background: -webkit-linear-gradient(-45deg, #0b1530 0%, #071120 100%);
    background: -webkit-linear-gradient(315deg, #0b1530 0%, #071120 100%);
    background: -o-linear-gradient(315deg, #0b1530 0%, #071120 100%);
    background: linear-gradient(135deg, #0b1530 0%, #071120 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0b1530', endColorstr='#071120', GradientType=1);
    position: relative;
}

.list-panel>div {
    text-align: center;
    display: inline-block;
}

.list-panel>div>span {
    display: block;
    font-family: RalewayRegular4020;
    font-size: 12px;
    line-height: 24px;
    text-transform: uppercase;
    color: white;
}

.list-panel>div>span:last-child {
    font-family: RobotoMedium;
    font-size: 16px;
    line-height: 29px;
    color: #09b6a9;
}

.list-panel>div>span img {
    margin-right: 13px;
}

.list-statistic {
    margin-top: 22px;
}

.text-small {
    text-transform: none;
}

.block3 p {
    font-family: RobotoRegular;
    font-size: 13px;
    line-height: 24px;
    color: #495164;
    margin-top: 15px;
    margin-bottom: 0;
}

.footer .uk-container {
    max-width: 950px;
    padding: 0;
}

.footer p,
.nav-footer li>a {
    font-family: RobotoRegular;
    font-size: 13px;
    line-height: 18px;
    color: #7d98bd;
}

.nav-footer {
    padding: 0;
    display: inline-block;
}

.nav-footer li {
    list-style: none;
    float: left;
}

.nav-footer li:not(:first-child)>a {
    padding-left: 22px;
}

.block4 h3 {
    font-family: RalewayMedium4020;
    font-size: 28px;
    text-transform: uppercase;
    color: white;
}

.block4 .uk-container {
    padding-top: 60px;
}

.list-filter-btn {
    padding: 0;
    display: inline-block;
}

.list-filter-btn>li {
    list-style: none;
    float: left;
    margin-left: 15px;
    height: 30px;
    line-height: 30px;
}

.list-filter-btn>li span {
    font-family: RalewayRegular4020;
    font-size: 11px;
    line-height: 25px;
    text-transform: uppercase;
    color: #7d98bd;
}

.list-filter-btn>li>.uk-button-primary {
    min-height: 30px !important;
    line-height: 28px;
    border:1px solid #fff;
    padding: 0 20px;
}

.list-filter-btn>li>.uk-button-primary:hover {
    border-color: #8ba3d7;
    color: #8ba3d7;
}
.list-filter-btn>li>.uk-button-primary:focus {
    border-color: #8ba3d7;
    background: none;
    color: #8ba3d7;
}

.list-filter-btn>li>.uk-button-primary.active {
    border-color: #fff;
    background: #fff;
    color: #1a4ab0;
}


input[type=text],
.button-form-find {
    min-height: 34px;
}

.button-form-find {
    font-family: RalewayRegular4020;
}

.jq-selectbox__select,
.jq-selectbox__dropdown {
    -webkit-border-radius: 0;
    border-radius: 0;
}

.result-metod-block .uk-accordion-title span {
    font-family: RalewayRegular4020;
    font-size: 13px;
    color: black;
    line-height: 25px;
    display: inline-block;
    margin-bottom: 3px;
}

.result-metod-block i {
    margin-right: 10px; 
}

.result-metod-block .uk-accordion {
    margin-bottom: 10px;
}

.icon-method {
    display: inline-block;
    background: gray;
    padding: 0 5px;
    font-size: 12px !important;
    text-transform: none;
    vertical-align:
}

.uk-accordion {
    -webkit-box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, .4);
    box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, .4);
}

.uk-accordion-title {
    padding: 7px 23px;
    margin-bottom: 0;
    border-bottom: 1px solid #e3e3e3;
    background: white;
}

.uk-accordion-content.uk-active {
    background: white;
    border-bottom: 1px solid #e3e3e3;
}

.uk-accordion-content {
    padding: 0 15px 35px 15px
}

.uk-accordion .uk-badge {
    padding: 3px 8px;
    margin-top: -4px;
    margin-left: 5px;
}

.icon-green {
    color: #58cf29;
}

.icon-orange {
    color: #f58a28;
}

.icon-blue {
    color: #1a4ab0;
}

.icon-black {
    color: black;
}

.icon-gray {
    color: gray;
}

.bage-http {
    background: #07b8ab;
}

.bage-socket {
    background: #f78b22;
}

.block4 .uk-container {
    position: relative;
    z-index: 5;
}

.uk-accordion-title .title {
    text-transform: none;
    font-family: RobotoRegular !important;
    font-size: 13px !important;
    color: #929292 !important;
}

.uk-tab>li>a {
    font-family: RalewayRegular4020;
    font-size: 13px;
    width: 232px;
    text-align: center;
    text-transform: uppercase;
}

.uk-tab>li.uk-active>a {
    font-family: RalewayMedium4020;
}

.uk-accordion-title>.uk-grid>div {
    position: relative;
}

.uk-accordion-title>.uk-grid>div:first-child:after,
.uk-accordion-title>.uk-grid>div:last-child:after {
    content: "";
    display: block;
    width: 1px;
    height: 100%;
    background: #e3e3e3;
    position: absolute;
    right: -10px;
    top: 0;
}

.uk-accordion-title>.uk-grid>div:last-child:after {
    right: auto;
    left: 80px;
}

.method-switch {
    padding: 0;
    overflow: hidden;
    border-bottom: 1px solid #ebebeb;
    margin-left: -15px;
    margin-right: -15px;
    background: #fbfbfb;
}

.method-switch>li {
    list-style: none;
    float: left;
}

.method-switch>li>a {
    font-family: RalewayRegular4020;
    font-size: 12px;
    text-transform: uppercase;
    color: #575757;
    min-height: 40px;
    line-height: 38px;
    width: 280px;
    display: inline-block;
    text-align: center;
    position: relative;
}

.method-switch>li.uk-active>a {
    font-family: RalewayMedium4020;
}

.uk-clearfix {
    float: none;
    clear: both;
}

.method-switch>li.uk-active>a:after,
.method-switch>li>a:hover:after {
    content: "";
    display: block;
    left: 10px;
    right: 10px;
    bottom: 0;
    height: 2px;
    position: absolute;
    background: #3772f1;
    text-decoration: none !important;
}

.method-switch>li>a:hover {
    text-decoration: none;
}

.panel-string {
    background: white;
    padding: 0 25px;
}

.list-switcher {
    padding: 5px 0;
    background: #f5f5f5 !important;
    border-left: 2px solid #ece8e8;
    border-right: 2px solid #ece8e8;
}

.list-switcher>li {
    padding: 4px 0;
}

#method-api span {
    font-family: RobotoRegular;
    font-size: 12px;
    color: #666666;
    line-height: 26px;
}

.block4 .uk-accordion-content.uk-active {
    overflow: hidden;
}

.title-method {
    font-family: RobotoMedium;
    font-size: 14px;
    margin: 0 0 25px;
    text-transform: uppercase;
}

.uk-switcher .uk-button-primary {
    color: black;
}

.uk-table tr td,
.uk-table tr th {
    font-family: RobotoRegular !important;
    font-size: 13px !important;
}

.list-code {
    border-left: 4px solid #EC7C2F;
}

.list-code li {
    min-height: 30px;
    line-height: 28px;
    font-family: RobotoRegular;
    font-size: 12px;
    color: #07b8ab;
    padding: 0 25px;
    font-style: italic;
}

.list-code li span {
    display: inline-block;
    width: 20px;
    margin-right: 10px;
    font-family: RobotoRegular;
    font-size: 12px;
    color: #e3e3e3 !important;
    font-style: normal;
}

.list-code>li {
    background: #030d10 !important;
}

.list-code.uk-list-striped>li:nth-of-type(odd) {
    background: #091124 !important;
}

.method-name span {
    font-family: RobotoRegular;
    font-size: 11px;
    line-height: 25px;
    color: #7d98bd;
    text-transform: uppercase;
}

.jq-selectbox__select {
    border: none;
    height: 46px;
    background: #142857;
    font-family: RalewayRegular4020;
    font-size: 12px;
    color: #7d98bd;
    text-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-border-radius: 7px;
    border-radius: 7px;
}

.jq-selectbox__select:hover,
.jq-selectbox__select:active {
    background: #142857;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.jq-selectbox__trigger {
    border: none;
}

.jq-selectbox__select-text {
    line-height: 46px;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.jq-selectbox__trigger-arrow {
    top: 21px;
    /*width: inherit;*/
    /*height: inherit;*/
    display: inline-block;
    content: "\f107";
    /*border: none;*/
    font-size: 12px;
    color: #7d98bd;
    font-family: FontAwesome;
    font-weight: 400;
    font-style: normal;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    /*top: 0;*/
    /*right: 0;*/
}

.jq-selectbox__trigger-arrow:hover {
    color: #7d98bd;
}

.jq-selectbox__select,
.jq-selectbox__select:focus,
.jq-selectbox__select:active,
.jq-selectbox.jqselect:focus,
.jq-selectbox.jqselect:active,
.jq-selectbox.jqselect.focused {
    border: none;
    outline: none;
}

.jq-selectbox__select:hover .jq-selectbox__trigger-arrow {
    color: #7d98bd;
}

.jq-selectbox li.selected {
    background: #142857;
}

.jq-selectbox__dropdown {
    border: none;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

.jq-selectbox li:first-child {
    -webkit-border-radius: 5px 5px 0 0;
    border-radius: 5px 5px 0 0;
}

.jq-selectbox li:last-child {
    -webkit-border-radius: 0 0 5px 5px;
    border-radius: 0 0 5px 5px;
}

.jq-selectbox li {
    font-family: RalewayRegular4020;
    font-size: 11px;
}

.jq-selectbox:hover .jq-selectbox__trigger-arrow {
    border-top-color: #7d98bd;
}

.jq-selectbox.focused .jq-selectbox__select {
    border: none;
}

.method-block input[type=text] {
    height: 46px;
    line-height: 44px;
    font-size: 12px;
    color: #7d98bd !important;
    background: #142857;
    border: none;
    padding-left: 45px !important;
    -webkit-border-radius: 5px 0 0 5px;
    border-radius: 5px 0 0 5px;
}

.method-block input[type=text]:focus {
    background: #142857;
}

.method-block .uk-form-icon i {
    color: #7d98bd;
    padding: 0 12px;
    font-size: 16px;
    margin-top: -8px;
}

.method-block input[type=text]::-webkit-input-placeholder {
    font-family: RalewayRegular4020;
    font-size: 12px;
    color: #7d98bd;
    line-height: 44px;
}

.method-block input[type=text]::-moz-placeholder {
    font-family: RalewayRegular4020;
    font-size: 12px;
    color: #7d98bd;
    line-height: 44px;
}

.method-block input[type=text]:-ms-input-placeholder {
    font-family: RalewayRegular4020;
    font-size: 12px;
    color: #7d98bd;
    line-height: 44px;
}

.method-block input[type=text]::-ms-input-placeholder {
    font-family: RalewayRegular4020;
    font-size: 12px;
    color: #7d98bd;
    line-height: 44px;
}

.method-block input[type=text]::placeholder {
    font-family: RalewayRegular4020;
    font-size: 12px;
    color: #7d98bd;
    line-height: 44px;
}

.method-block .uk-button {
    min-height: 46px;
    line-height: 44px;
    font-family: RalewayMedium4020;
    font-size: 13px;
    color: white;
    text-transform: uppercase;
    background: #142857;
    text-align: right;
    padding-right: 25px;
    -webkit-border-radius: 0 5px 5px 0;
    border-radius: 0 5px 5px 0;
}
.method-block .uk-button img {
	margin-top: -2px;
}
.requester-contents-group .requester-contents-group__section-top {
    background-color: #FAFAFA;
    border-bottom: 1px solid #DBDBDB;
}
.request-editor__main {
    padding: 10px;
    display: flex;
    flex-direction: row;
}



.request-editor__main {
    position: relative;
    box-sizing: border-box;
    z-index: 7;
    background-color: #FAFAFA;
}
.request-editor__main__url-group {
    border-radius: 3px;
    background-color: #F0F0F0;
    margin-right: 10px;
    border: 1px solid #DCDCDC;
    height: 40px;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
}
.request-editor__main .request-editor__main__url-group {
    flex: 1;
}

.request-method-editor {
    flex: 0 0 115px;
    text-align: center;
    font-weight: 600;
    color: #808080;
    font-size: 14px;
    height: 38px;
    width: 100%;
    border-top-right-radius: 0;
    line-height: 38px;
    border-bottom-right-radius: 0;
    border-right: 1px solid #c5c5c5;
}
.request-url-editor {
    line-height: 38px;
    padding: 0 20px;
    font-size: 14px;
    font-family: "OpenSans", Helvetica, Arial, sans-serif;
    flex: 1;
    color: #505050;
    background-color: #F0F0F0;
}
.request-editor__main .request-editor__main__button-group {
    flex: 0 0 90px;
}
.request-editor-send-button .btn {
    background-color: #097bed;
}
.request-editor-send-button .btn:hover{
    background-color: #0958a3;
}
.request-editor-send-button .btn{
    width: 90px;
    padding-left: 8px;
    box-sizing: border-box;
    font-size: 14px;
    font-weight: 600;
    border-color: #126dc8;
}
.request-editor-send-button .btn span{
    line-height: 26px;
    color: #fff;
    font-size: 15px;
    font-family: RalewayMedium4020 !important;;
}
.btn {
    box-sizing: border-box;
    border-radius: 3px;
    height: 40px;
    padding: 0 10px 0 10px;
    display: inline-flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 12px;
    font-weight: normal;
    font-family: "OpenSans", Helvetica, Arial, sans-serif;
    color: #fff;
    cursor: default;
    -webkit-user-select: none;
    user-select: none;
    cursor: pointer;
}



.key-value-form-header-row .header-row {
    border-bottom: 1px solid #DBDBDB;
    margin-bottom: 0px;
}

.key-value-form-row {
    height: 30px;
}
.key-value-form-row {
    display: flex;
    flex-direction: row;
}
.key-value-form-header-row .header-row .key-value-form-actions {
    border-top-width: 0px;
}

.key-value-form-row .key-value-form-actions {
    position: relative;
    display: flex;
    width: 40px;
    justify-content: flex-end;
    border: 1px solid #F8F8F8;
}
.key-value-form-row .auto-suggest-group {
    flex: 1;
}

.key-value-form-row .auto-suggest-group {
    position: relative;
}
.auto-suggest-group {
    display: flex;
    flex-direction: row;
}
.key-value-form-header-row .header-row .resize-handle {
    height: 25px;
    position: absolute;
    top: 0px;
    width: 16px;
    left: -8px;
    cursor: col-resize;
}
.key-value-form-header-row .header-row .key-value-form-header-item .header-content {
    padding: 5px;
    color: #616161;
    font-size: 10px;
    cursor: default;
    font-weight: bold;
    font-family: RalewayMedium4020;
}
.request-body-editors {
    flex: 1;
    display: flex;
    flex-direction: column;
}
.key-value-form-header-row .header-row .key-value-form-header-item {
    font-size: 12px;
    font-family: OpenSans;
    align-items: center;
    display: flex;
    position: relative;
    border-width: 0px 1px 0px 1px;
    box-sizing: border-box;
    border-style: solid;
    border-color: #F8F8F8;
    margin: 0;
}
.key-value-form-row .key-value-form-column {
    position: relative;
    box-sizing: border-box;
    border: 1px solid #F8F8F8;
    margin: 0px;
}
.key-value-form-row .key-value-form-column span {
    font-family: RalewayRegular4020 !important;
    line-height: 29px;
    padding:0 10px;
}
.key-value-form-input{
    width: 100%;
    height: 27px;
    padding: 10px;
    box-sizing: border-box;
    font-size: 13px;
    color: #6f6f6f;
    font-weight: 500;
    font-family: RalewayMedium4020;
}
/*block code */

.code-container .header-container {
    min-height: 40px;
    line-height: 38px;
    border-bottom: 1px solid #e3e3e3;
}
.code-container .swithcer-code,
.code-container .list-code-status {
    padding: 0;
}
.code-container .swithcer-code > li {
    list-style: none;
    float: left;
}
.code-container .list-code-status > li {
    display: inline-block;
    margin-left: 15px;
}
.code-container .list-code-status > li > span {
    display: inline-block;
    padding-left: 5px;
    color:  #2a5ac6 !important;
}
.code-container .swithcer-code > li > a {
    font-family: RobotoRegular;
    font-size: 14px;
    color: gray;
    padding: 0 20px;
}
.code-container .swithcer-code > li {
    font-family: RobotoRegular;
    font-size: 13px;
    color: gray;

}
.code-container .swithcer-code > li > a span {
    color: #2a5ac6 !important;
}
.code-container .swithcer-code > li > a:hover {
    text-decoration: none;
}
.code-container .swithcer-code > li.uk-active > a {
    color: black;
    font-family: RobotoMedium;
}
.list-code-status {
    padding: 0 30px;
}